.dashboard_container{
    width: 100%;
    max-width: 1273px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    border-radius: 12px;
}
.back{
    cursor: pointer;
}
.attach{

    margin-top: -3px;
    padding: 0 5px;
}

.dashboard_flex{
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash_pad{
    margin: 0 20px;
}

.dash_pad_relative{
    position: relative;
    width: 400px;
}
.relative{
    position: relative;
}
.menu{
    cursor: pointer;
}

